// useful classes
.none
  display none
  
.block
  display block

// style
html, body
  background #fff

body
  width 1000px
  margin 20px auto 20px
  display block

#logo
  position absolute
  z-index 2
  margin-left 350px
  top 150px

#popup
  size( 521px )
  background url( '/img/popup.png' ) no-repeat
  position absolute
  top 50%
  left 50%
  margin-left -260px
  margin-top -260px
  display none
  opacity 0
  z-index 6
  img
    margin-left 55px
    margin-top 50px
  p
    margin-left: 60px;
    font-size: 20px;
    font-family: 'Open Sans','Helvetica','Arial',sans-serif;
    font-weight: 300;
    line-height: 30px;
    margin-top: 50px;
    width 400px 
  
#blur
  size( 100% )
  background: #fff
  position: fixed
  opacity: 0
  top: 0px
  left: 0px
  z-index: 5
  display none

#imatge_viulestiu
  background url( '/img/fondo.png' ) no-repeat
  display block
  width 1000px
  height 676px
  opacity 0
  transform ( scale( 0.8 ) )
  position relative
  margin-top 80px
    
.spot
  //background rgba( 0, 0, 0, 0.3 )
  display block
  position absolute
  
  img
    position relative
    opacity 0

  &#spot_nit_dansa_aerea
    size( 231px, 145px )
    margin-left 74px
    & img
      top 5px
      margin-left -14px
      
  &#spot_festival_poesia
    size( 165px, 171px )
    margin-left 34px
    margin-top 159px
    img
      top 0px
      left -8px
    
  &#spot_melodia
    size( 161px, 203px)
    margin-left 336px
    margin-top 49px
    img
      top 18px
      left -10px
    
  &#spot_tarda_de_circ
    size( 165px, 181px )
    margin-top 104px
    margin-left 603px
    img
      top -21px
      left 12px
    
  &#spot_pop_jardi
    size( 165px )
    margin-left 40px
    margin-top 388px
    img
      top -4px
      left 11px
    
  &#spot_festa_cervesa
    size( 140px, 198px )
    margin-left 264px
    margin-top 285px
    img
      top -6px
      left 10px
    
  &#spot_tumtum
    size( 253px, 129px )
    margin-left 278px
    margin-top 493px
    img
      top -41px
      left -11px
    
  &#spot_cova_foc
    size( 165px )
    margin-top 303px
    margin-left 460px
    img
      top -19px
      left -57px
    
  &#spot_festival_preview
    size( 254px, 129px )
    margin-top 332px
    margin-left 675px
    img
      top 9px
      left 7px

  &#spot_artistes_prat
    size( 164px, 197px )
    margin-top 58px
    margin-left 803px
    img
      top 12px
      left -26px